/* Style de base pour la navbar */
.navbar {
  overflow: hidden;
  background-color: maroon; /* couleur de fond */
}

.bg-brown {
  background-color: #8B4513; /* Marron */
  /* Ajoutez d'autres styles selon vos besoins */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #fff; /* Couleur du texte */
}
.social-icons a {
  
  background-color: #fff; /* Fond blanc */
  padding: 10px; /* Espace autour des icônes */
  margin-right: 10px; /* Espace entre les icônes */
  border-radius: 50%; /* Pour obtenir des coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce */
  float: right;
  
}

.social-icons a:last-child {
  margin-right: 0; /* Pas de marge à droite pour le dernier élément */
}
.nav2{
  background-color:white;
  color: black;
}
.navbar-nav .nav-link {
  color: #000; /* Couleur du texte en noir */
}
.bg-white{
  margin-top: 20px;
}
.logo-text {
  display: block;
  font-size: 20px;
  text-align: center;
  color: maroon;
}

/* styles.css */
#partie-un {
  background-image: url("Hypertension.jpeg");
  /* background-size:  80%; Prend toute la largeur mais conserve les proportions 
  padding: 15% 0;
  color:white;
  font-size: 25px;
  text-align: center;
  margin-left: -8%;
  margin-right: -8%;*/
 
  color:white;
  font-size: 20px;
  text-align: center;
  
  background-size:  cover;
  
 
}
#row1{
  width: 100%;
  height: 20px;
}
#slideshow {
  width: 50%; /* Largeur de l'image à 100% de la largeur de son conteneur */
  height: auto; /* Hauteur automatique pour conserver les proportions de l'image */
}
.btn-custom {
  background-color: white; /* Fond blanc */
  color: maroon; /* Texte en couleur marron */
  border-color: maroon; /* Bordure en couleur marron */
}

.btn-custom:hover {
  background-color: maroon; /* Fond marron au survol */
  color: white; /* Texte en couleur blanche au survol */
}
#texte-animation{
  background-color: white; /* Fond blanc */
  color: maroon; /* Texte en couleur marron */
  border-color: maroon; /* Bordure en couleur marron */
  font-size: 20px;
  font-weight: bold;
}
#lastdiv
{
  background-color: maroon;
}
#col1
{
  background-color: #fff;
  border: solid;
}
#col2
{
  background-color: #fff;
  border: solid;
}
#col3{background-size:  cover;}
#myForm
{
	width:50%;
	margin:auto;
	padding: 5%;
	background:white;
	border-radius: 5px;
}

label
{
	display: inline-block;
	width: 50%;
	color: darkblue;
	font-size: 120%;
	font-weight: bold;
}

select,textarea
{
				
	display: inline-block;
	width: 100%;
	font-size: 120%;
  color: darkblue;
}
.inp{
  color: darkblue;
}

textarea
{
	height: 10%;
}  
#body
{
	background-color: rgb(23, 139, 247);
	background-image: url("OIP1.jpeg");
}






