/* Style de base pour la navbar */
.navbar {
    overflow: hidden;
    background-color: #333; /* couleur de fond */
  }
  
  /* Style des liens dans la navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2; /* couleur du texte */
    text-align: center;
    padding: 14px 20px; /* espacement entre les liens */
    text-decoration: none;
  }
  
  /* Changement de couleur de lien lors du survol */
  .navbar a:hover {
    background-color: #ddd; /* couleur de fond lors du survol */
    color: black; /* couleur du texte lors du survol */
  }
  
  /* Style pour le lien actif */
  .navbar a.active {
    background-color: #4CAF50; /* couleur de fond du lien actif */
    color: white; /* couleur du texte du lien actif */
  }
  .navbarrs {
    float: right;
  }
  
  .navbarrs a {
    display: inline-block;
    color: #fff; /* Couleur du texte */
    text-decoration: none;
    padding: 10px 15px; /* Espacement autour des liens */
  }
  
  .navbarrs a.active {
    background-color: #4CAF50; /* Couleur de fond du lien actif */
    color: white; /* Couleur du texte du lien actif */
  }
  h1{
    background-color: #4CAF50;
  }    
  .bouton-rond {
    border-radius: 50%; /* Pour rendre le bouton rond */
    width: 50px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
    background-color: white; /* Couleur de fond blanche */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur de type pointeur */
    transition: background-color 0.3s; /* Transition pour l'animation */
  }
  
  .bouton-rond:hover {
    background-color: lightgray; /* Nouvelle couleur au survol */
  }
 